---
title: Cloud Native Buildpacks Overview (beta)
owner: TAS
---

This is the list of supported Cloud Native Buildpacks.

<table border="1" class="nice" >
  <tr>
    <th>Name</th>
    <th>Supported Languages, Frameworks, and Technologies</th>
    <th>GitHub Repository</th>
  </tr>
  <tr>
    <td><a href="../commercial-buildpacks/web-servers/index.html" class="subnav">Web Servers</a></td>
    <td><i>NGINX, HTTPD, and Frontend JavaScript</i></td>
    <td><a href="https://github.com/paketo-buildpacks/web-servers">Paketo Web Servers CNB</a></td>
  </tr>
</table>
