---
title: Complete the <%= vars.app_runtime_abbr %> Installation
owner: PAS Releng
---

<a id='complete'></a>

To complete your installation of <%= vars.app_runtime_abbr %>:

1. Click the **Installation Dashboard** link to return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes**. The installation process generally takes a minimum of 90 minutes to complete. The Changes Applied window is shown when the installation process completes successfully. Click **Close** or **Return to Installation Dashboard**.

    ![alt-text="The Changes Applied window appears when the process is completed."](images/cloudform/ops-manager-complete.png)