---
title: Configure Internal MySQL (Optional)
owner: PAS Releng
---

<a id='internal-mysql'></a>

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "core/mysql_proxy_config" %>