---
title: Configure custom branding and Apps Manager (Optional)
owner: PAS Releng
---

<a id='customize-apps-man'></a>

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "core/custombranding" %>