---
title: Configure authentication and enterprise SSO
owner: PAS Releng
---

<a id='auth-config'></a>

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "core/authsso_config" %>
