---
title: Resources
owner: PAS Releng
---

<a id='resources'></a>

In the **Resource Config** pane, you must associate load balancers with the VMs in your deployment to activate traffic. For more information, see [Configure Load Balancing for <%= vars.app_runtime_abbr %>](configure-lb.html).

## <a name='scale-down'></a> Scale down and deactivate resources (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "core/disable_resources" %>