---
title: File storage
owner: PAS Releng
---

<a id='file-storage'></a>

<p class="note important">
  <span class="note__title">Important</span> Some blobstores, for example, Oracle Cloud Infrastructure Object Storage, do not support S3 Signature v4 Streaming. To use blobstores without S3 Signature v4 Streaming support with VMware Tanzu Platform for Cloud Foundry, deselect the Signature v4 streaming check box.</p>

  For more information, see [AWS-S3 Signature v4 Streaming](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html).

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "core/max_droplets_packages_config" %>
