---
title: PAS Resource Requirements
owner:
---

This topic describes the resource requirements for installing Pivotal Application Service (PAS).

## <a id='general'></a> General Requirements

The general requirements for deploying and managing an installation of Ops Manager and PAS are:

* A wildcard DNS record that points to your Gorouter or load balancer. Alternatively, you can use a service such as xip.io. For example, `203.0.113.0.xip.io`.
  * PAS gives each app its own hostname in your app domain.
  * With a wildcard DNS record, every hostname in your domain resolves to the IP address of your Gorouter or load balancer, and you do not need to configure an A record for each app hostname. For example, if you create a DNS record `*.example.com` pointing to your load balancer or Gorouter, every app deployed to the `example.com` domain resolves to the IP address of your Gorouter.

* At least one wildcard TLS certificate that matches the DNS record you set up above, `*.example.com`.

* Sufficient IP allocation:
  * One static IP address for either HAProxy or one of your Gorouters.
  * One static IP address for each job in the PAS tile. For a full list, see the **Resource Config** pane for each tile.
  * One static IP address for each job listed below:
      * Consul
      * NATS
      * File Storage
      * MySQL Proxy
      * MySQL Server
      * Backup Restore Node
      * HAProxy
      * Router
      * MySQL Monitor
      * Diego Brain
      * TCP Router
  * One IP for each VM instance created by the service.
  * An additional IP address for each compilation worker. The formula for total IPs needed is `IPs needed = static IPs + VM instances + compilation workers`.
    <p class="note"><strong>Note:</strong> VMware recommends that you allocate at least 36 dynamic IP addresses when installing PAS. BOSH requires additional dynamic IP addresses during installation to compile and deploy VMs, install PAS, and connect to services.</p>

* One or more NTP servers if not already provided by your IaaS.

* (**Recommended**) A network without DHCP available for deploying the PAS VMs.
  <p class="note"><strong>Note:</strong> If you have DHCP, see <a href="https://docs.pivotal.io/ops-manager/2-10/install/troubleshooting.html">Troubleshooting Deployment Problems</a> in the Ops Manager documentation for information about avoiding issues with your installation.</p>

* (**Optional**) External storage. When you deploy PAS, you can select internal file storage or external file storage, either network-accessible or IaaS-provided, as an option in the PAS tile. VMware recommends using external storage whenever possible. For more information about how file storage location affects platform performance and stability during upgrades, see [Configure File Storage](./configuring.html#file-storage) in _Configuring PAS for Upgrades_.

* (**Optional**) External databases. When you install PAS, you can select internal or external databases for the BOSH Director and for PAS. VMware recommends using external databases in production deployments. An external database must be configured to use the UTC timezone.

* (**Optional**) External user stores. When you deploy PAS, you can select a SAML user store for Ops Manager or a SAML or LDAP user store for PAS, to integrate existing user accounts.

* The most recent version of the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli#downloads) (cf CLI).

## <a id='instance-number-scaling-reqs'></a> Instance Number and Scaling Requirements

By default, PAS deploys the number of VM instances required to run a highly available configuration. If you are deploying a test or sandbox PAS that does not require HA, then you can scale down the number of instances in your deployment.

For information about the number of instances required to run a minimal, non-HA PAS deployment, see [Scaling PAS](../opsguide/scaling-ert-components.html).
