## <a id="bosh-dns"></a> BOSH DNS communications

By default, <%= vars.app_runtime_abbr %> components and app containers look up services using the BOSH DNS service discovery mechanism. To support this lookup, BOSH Director co-locates a BOSH DNS server on every deployed VM. For more information, see [BOSH DNS network communications](./bosh-dns-network-paths.html).
